[Unit]
Description=Temperature-based fan control for buggy Dells

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/tempcontrol.sh
WorkingDirectory=/usr/local/bin
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tempcontrol

[Install]
WantedBy=multi-user.target
